html {
	overflow-y: scroll;
}

body {
	font-size: 14px;
	margin: 0px;
	background-color: #bs5b5b5;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}

input[type=submit],input[type=button] {
	font-size: 11px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text],input[type=password],textarea {
	font-size: 12px;
	padding-left: 1px;
}

select {
	font-size: 13px;
}

.tableControl,.actionButtons {
	width: 100%;
}


.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
	background: #528bc5;
}

.leftMenu {
	background: #ececec;
	vertical-align: top;
	padding: 2px;
}

.bodyArea {
	padding:15px;
	background: #ffffff;
}

.frame {
	margin-left: auto;
	margin-right: auto;
	max-width: 1140px;
	padding: 20px 5px 20px;
	
}

.logo {
	width: 100%;
}

.rich-table {
	width: 100%;
}


.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input,.errors textarea,.errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
}

/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/
.rich-panel input[type=submit],.rich-panel input[type=button],.rich-tabpanel input[type=submit],.rich-tabpanel input[type=button]
	{
	margin-bottom: 0;
}

.tableControl input[type=submit],.tableControl input[type=button],.tableControl select
	{
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.rich-toolbar-item a {
	text-decoration: none;
}

.rich-toolbar-item a:hover,.rich-ddmenu-label-select {
	text-decoration: underline;
}

.rich-toolbar-item .rich-menu-item a:hover {
	text-decoration: none;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}












td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
	border: 0;
}

table.radio td {
	padding: 0 2px;
}

table.radio input[type=radio] {
	vertical-align: bottom;
}


input[type=text], textarea{
	border: 1px solid #9B9B9B;
	color: #4F4F4F;
	padding:4px 4px;
	-moz-border-radius: 4px; /* Firefox */
  	-webkit-border-radius: 4px; /* Safari, Chrome */
  	border-radius: 4px; /* CSS3 */
  	-moz-box-shadow: inset 2px 2px 2px #D6D6D6;
	-webkit-box-shadow: inset 2px 2px 2px #D6D6D6;
	box-shadow: inset 2px 2px 2px #D6D6D6;
}

input[type=text]:focus, input[type=text]:focus:hover, textarea:focus, textarea:focus:hover{
	border: 1px solid #B7A322;
	color: #3A3511;
	
background: #f2e971; /* Old browsers */
background: -moz-linear-gradient(top, #f2e971 0%, #f6f8b4 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2e971), color-stop(99%,#f6f8b4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2e971 0%,#f6f8b4 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2e971 0%,#f6f8b4 99%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f2e971 0%,#f6f8b4 99%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2E971', endColorstr='#f6f8b4',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f2e971 0%,#f6f8b4 99%); /* W3C */

-moz-box-shadow: 0 0 2px #E2D476;
-webkit-box-shadow: 0 0 2px #E2D476;
box-shadow: 0 0 2px #E2D476;

}

input[type=text]:hover, textarea:hover {
	background: #fdfde3; /* Old browsers */
background: -moz-linear-gradient(top, #fdfde3 0%, #fcf9ca 0%, #fcfdeb 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfde3), color-stop(0%,#fcf9ca), color-stop(99%,#fcfdeb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fdfde3 0%,#fcf9ca 0%,#fcfdeb 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fdfde3 0%,#fcf9ca 0%,#fcfdeb 99%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fdfde3 0%,#fcf9ca 0%,#fcfdeb 99%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfde3', endColorstr='#fcfdeb',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fdfde3 0%,#fcf9ca 0%,#fcfdeb 99%); /* W3C */
}

.rich-panel-header{
	height: 25px;
	font-size:18px;
	padding-top:8px;
	font-family:arial,sans-serif;
	border:0;
	vertical-align:middle;
	text-align:center;
	
	}
.rich-panel-body{
	font-size:12px;
	}
